<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
<div>
<table align="center">
    <th><a href="/">Main Blog Page</a></th>
    <th><a href= "/blog">All Posts</a></th>
    <th><a href= "/newpost">Write a Post</a></th>
    {% if not session['username'] %}
        <th><a href= "/login">Login</a></th>
        <th><a href= "/signup">Sign up</a></th>
    {% else %}
        <th><a href= "/logout">Log out</a></th>
    {% endif %}
</table>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>