<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
<table><a href="/blog">Main Blog Page</a></table>
<form action="/blog" method ="POST">
<table><a href= "/newpost">Write a Post!</a></table>
<form action="/newpost" method ="POST"></form>
<table><a href= "/login">Login!</a></table>
<form action="/login" method ="POST"></form>
<table><a href= "/signup">Sign up!</a></table>
<form action="/signup" method ="POST"></form>

    {% block content %}
    {% endblock %}

</body>
</html>