{% extends "base.html" %}

{% block content %}



<center><h1>Build a Blog</h1></center>

{% for i in blogs %}
<table><a href= "/viewblog?id={{i.id}}">{{i.title}}</a></table>
<form action="/viewblog" method ="GET">
<p>{{i.body}}</p>
<p>{{i.owner.username}}</p>
<li>by: <a href= "/user?q={{i.owner.username}}">{{i.owner.username}}</a></li>
<p>_______________________________________________________________________________________________________________________________________________________________________</p>
</form>
{% endfor %}


{% endblock %}

