{% extends "base.html" %}

{% block content %}
<style>
        .error {color: red; }
    </style>
    <h1>Sign Up</h1>
    <form action='/signup' method='POST'>
        <label>Username
            <input name="username" type="text" value='{{username}}' />
        </label>
        <p class="error">{{usernameerror}}</p>
        <label>Password
            <input name="password" type="password" />
        </label>
        <p class='error'>{{passworderror}}</p>
        <label>Verify Password
            <input name='verify' type="password" />
        </label>
        <p class='error'>{{verifyerror}}</p>
        <input type='submit' value='submit' />
        <p class='error'>{{existserror}}</p>
    </form>
    
{% endblock %}