{% extends "base.html" %}
{% block content %}
<h1>{{user.username}}</h1>
<ul>
{% for post in posts %}
    <h2><th><a href= "/viewblog?id={{post.id}}">{{post.title}}</a></th></h2>
    <p>{{post.body}}</p>
    <p>_______________________________________________________________________________________________________________________________________________________________________</p>
    <!-- <li>by: <a href= "/user?q={{post.owner.username}}">{{post.owner.username}}</a></li> -->
{% endfor %}
</ul>
{% endblock %}